<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About page </title>
</head>
<body>

  <h1>This is weather app page </h1>


<form action="/submit" method="post">
    <label for="weather-date">Enter date to get output from weather station:</label><br>
    <input type="date" id="weather-date" name="weather-date"><br><br>
    <label for="station">Choose your weather station::</label>
    <select name="station" id="station">
        {% for station in stations_list %}
        <option value="{{ station }}">{{ station }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Send">
</form>



</body>
</html>
